@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth !important;
  }

  body {
    font-family: Poppins, sans-serif;
    background-image: linear-gradient(
      to right top,
      #edf2f8,
      #f2f5fa,
      #f7f8fc,
      #fbfbfd,
      #ffffff
    );
  }
}

@layer components {
  .navlink {
    @apply text-lg font-navlink text-zinc-500;
  }

  .navlink:hover {
    @apply text-primary;
  }

  .section-heading {
    @apply text-4xl font-bold mb-9 text-secondary;
  }
}
